.inputsHeader {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 30px;
    display: block;
}

.inputsCarta {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: -20px;

}

.header{
    font-weight: bold;
}

.inputsHeader {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 30px;
    display: block;
}

.inputsCarta {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: -20px;

}

.header{
    font-weight: bold;
}