.inputsHeader {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 5px;
   // display: block;
}

.inputsCarta {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 5px;

}

.header {
    font-weight: bold;
}


.centerButton {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 5px;
    display: block;
}