.center {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 110px;
    display: block;
}

.centerInput {
    //margin-left: auto;
    //margin-right: auto;
    margin-block-start: 40px;
    display: block;
}

.centerButton {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 40px;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 110px;
    display: block;
}

.centerInput {
    //margin-left: auto;
    //margin-right: auto;
    margin-block-start: 40px;
    display: block;
}

.centerButton {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 40px;
    display: block;
}