.center {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 70px;
    display: block;
    background: white;
    max-width: 280px;
    height: 62px;
}

.inputs {
    max-width: 305px;
}

.centerInput {
    //margin-left: auto;
    //margin-right: auto;
    margin-block-start: 40px;
    display: block;
}

.centerButton {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 40px;
    display: block;
}

