.topMiddle{
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 10px;
    display: block;
    background: white;
}

.listAlignment {
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 10px;
    display: block;
}