.topLeft{
    margin-left: 3px;
    margin-right: auto;
    margin-block-start: 10px;
    display: block;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 20px;
    display: block;
}