<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Cartas
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToFiltersPage()">
        <ion-icon name="funnel"></ion-icon>
      </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar (ionInput)="getLetters($event)" class="searchBar"></ion-searchbar>

    <ion-list radio-group [(ngModel)]="month" class="button button-bar">
        <ion-item>
            <ion-label>Mês Atual</ion-label>
            <ion-radio checked="true" value="currentMonth"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Mês Anterior</ion-label>
            <ion-radio value="previousMonth"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-card color="dark">
            <ion-card-header class="cardsHeader">
                      {{ div.name }}
                <ion-note class="totalValue">
                    R$ {{ valueReturn }}K
                </ion-note>
                    
            </ion-card-header>

            </ion-card>

                <ion-card *ngFor="let letter of letters" class="ngForCards" (click)="letterTapped($event, letter)">
                    
                    <ion-card-header>
                        <ion-icon name="contact"></ion-icon>
                        {{ letter.accountName }}

                    </ion-card-header>

                    <ion-card-content>

                     
                            <ion-icon name="mail" class="cardIcon"></ion-icon>
                                {{ letter.name }}           

                                <br/>
                            <ion-icon name="flag" class="cardIcon"></ion-icon>
                                {{ letter.dueDate }}

                                <br/>
                                <div class="cardIcon">
                                    R$ {{ letter.parcelValue}}K
                                    
                                    <ion-badge item-right item-bottom class=" {{ letter.emitted }}">
                                        {{ letter.emitted }}
                                    </ion-badge>

                                </div>

                            
                                         

                    </ion-card-content>
                </ion-card>

</ion-content>

